@page
@model GolfStore_L00181486.Pages.Customer.Home.DetailsModel
@{
}
<div class="">
    <form method="post">

        <div class="container backgroundWhite">
            <div class="card">
                <div class="card-header">
                    <div class="text-light ml-0 row ">
                        <div class="col-12 col-md-6 pt-2">
                            <h1 class="text-primary">@Model.Club.Name</h1>
                        </div>
                        <div class="col-12 col-md-6 text-end pt-2">
                            <h1 class="text-muted">€@Model.Club.Price</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row">

                                    <div class="col-12">
                                        <h3 class="text-success"></h3>

                                        <p class="text-secondary">@Model.Club.Forgiveness Forgiveness</p>
                                        <p class="text-secondary">@Model.Club.Brand</p>
                                        <div class="form-floating my-2">
                                            <input class="form-control" aria-required="true" />
                                            <label>Quantity</label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@Model.Club.ImgUrl" width="100%" class="rounded" />
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1 ">
                            <a asp-page="Index" class="btn btn-success btn-square form-control" style="height:50px;">Back to List</a>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <a asp-page="Order" button type="submit" class="btn btn-primary btn-square form-control" style="height:50px;">Add to Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
